@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  /* Index*/
  /* Blog */
  /* Galería */
  /* Tienda*/
  /* Formulario */ }
  body .navbar-brand {
    color: #5d5e5f;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #e7d2cc;
    font-family: "Rajdhani", sans-serif;
    border: #ffffff66; }
  body .menu {
    color: #5d5e5f;
    font-size: 1.5rem;
    font-weight: bold;
    background: radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898;
    padding: 10px;
    border: #e7d2cc;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    justify-content: space-between; }
    body .menu .navbar-log {
      width: 68px; }
    body .menu .navbar-collapse {
      flex-grow: initial;
      font-family: "Rajdhani", sans-serif;
      font-weight: bold; }
      body .menu .navbar-collapse .nav-link {
        color: #e7d2cc !important;
        margin: 0px 30px; }
      body .menu .navbar-collapse .nav-link:hover {
        color: white !important; }
  body .banner {
    background-image: url(../Media/bannerfoto.png);
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px; }
    body .banner h1 {
      padding: 3px 20px 3px 20px;
      font-size: 3rem;
      font-family: "Rajdhani", sans-serif;
      color: #5d5e5f;
      margin-bottom: 30px;
      margin-left: 46%; }
    body .banner .parrafoIndex {
      font-family: "Rajdhani", sans-serif;
      font-size: 1.5rem;
      color: #5d5e5f;
      text-align: center;
      margin-left: 46%; }
  body .index__title, body .main-container .main-title, body .tituloGaleria {
    color: #5d5e5f;
    font-family: "Rajdhani", sans-serif;
    font-size: 40px;
    display: block;
    padding: 20px; }
  body .main-container {
    background-color: #eee7e7;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px; }
    body .main-container .main-title {
      padding-left: 50px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      body .main-container .main-title p {
        color: #5d5e5f;
        font-size: 18px;
        font-weight: 500;
        color: #5d5e5f;
        font-family: "Rajdhani", sans-serif;
        padding: 25px; }
    body .main-container .main-img {
      display: flex;
      justify-content: center; }
      body .main-container .main-img img {
        height: 70vh;
        padding: 10px;
        margin-top: 30px; }
  body .btn {
    background-color: #e7d2cc;
    margin-bottom: 20px; }
  body .index__card--container {
    background-color: #eee7e7;
    display: flex;
    width: 100%;
    justify-content: space-around; }
    body .index__card--container .row {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      margin-bottom: 40px; }
    body .index__card--container .cardIndex {
      justify-content: space-around;
      margin: 5px; }
      body .index__card--container .cardIndex a {
        text-decoration: none;
        color: #5d5e5f; }
      body .index__card--container .cardIndex .card-body {
        display: flex;
        flex-direction: column;
        color: #5d5e5f; }
      body .index__card--container .cardIndex .card-title {
        text-align: center; }
  body .blog__main .blog__section {
    display: flex;
    justify-content: space-around;
    background-color: #e7e4e4; }
    body .blog__main .blog__section .blog__section--title {
      text-align: center; }
      body .blog__main .blog__section .blog__section--title h3 {
        color: #5d5e5f;
        font-family: "Rajdhani", sans-serif;
        text-transform: capitalize;
        padding: 25px; }
    body .blog__main .blog__section .imageContainer {
      display: flex;
      justify-content: space-around; }
      body .blog__main .blog__section .imageContainer .blog__section--image {
        width: 80%;
        height: 80vh; }
    body .blog__main .blog__section .paragraphContainer {
      display: flex;
      align-items: center; }
      body .blog__main .blog__section .paragraphContainer .blog__section--paragraph {
        color: #5d5e5f;
        font-size: 17px;
        font-weight: normal;
        width: 80%;
        font-family: "Rajdhani", sans-serif; }
  body .tituloGaleria {
    margin-top: 90px;
    color: #e7d2cc;
    text-align: center;
    background: radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898; }
  body .carousel .carousel-inner .carousel-item {
    height: 80vh; }
    body .carousel .carousel-inner .carousel-item .img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  body .carousel .carousel__text {
    background-color: rgba(90, 92, 94, 0.63);
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    color: #e7d2cc; }
  body .card__container {
    background-color: #eee7e7; }
  body .cardProducto {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px; }
    body .cardProducto .card-body {
      display: flex;
      flex-direction: column; }
    body .cardProducto .card-title {
      text-align: center; }
    body .cardProducto .btn__card {
      background: #e7d2cc;
      width: 100%;
      color: black;
      text-decoration: none;
      text-align: center;
      padding: 5px;
      border: 1px solid #ffffff66; }
  body form {
    height: 90vh;
    margin-top: 80px; }
    body form #btn__form {
      background-color: #e7d2cc;
      width: 100%;
      margin-top: 5px; }

/*footer*/
.footer {
  background: radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898;
  padding: 10px;
  border: #e7d2cc;
  border-style: solid;
  border-width: 3px; }
  .footer ul {
    display: flex;
    justify-content: center; }
  .footer ul li {
    list-style: none;
    margin: 0px 20px;
    font-size: 30px; }
  .footer ul li i {
    color: #e7d2cc; }
  .footer ul li i:hover {
    color: white; }

/*Media Queries*/
@media (max-width: 768px) {
  .contact-card {
    padding: 20px; } }

@media (max-width: 576px) {
  .contact-card {
    padding: 20px; }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0 !important; }
  .paragraphContainer {
    display: flex;
    justify-content: center; }
  .banner {
    margin-top: 90px; }
    .banner h1 {
      padding: 0px;
      font-size: 2rem !important;
      font-weight: bold;
      color: #39393a !important;
      margin-left: 0% !important; }
    .banner .parrafoIndex {
      background-color: white;
      color: #5d5e5f;
      text-align: center;
      margin: 0 !important;
      width: 100%; }
  .cardIndex {
    display: flex;
    justify-content: center; } }
