* {
  margin: 0;
  padding: 0;
}
@mixin propFuente($fontSize, $fontWeight) {
  color: $colorLetra;
  font-size: $fontSize;
  font-weight: $fontWeight;
}
$colorDetails: #e7d2cc;
$colorLetra: #5d5e5f;
$fontFamily: "Rajdhani", sans-serif;
$backgroudGradient: radial-gradient(at top center, #ffffff66 0%, #00000066 120%)
#989898;
body {
  .navbar-brand {
    @include propFuente(1.5rem, bolder);
    color: $colorDetails;
    font-family: $fontFamily;
    border: #ffffff66;
  }
  .menu {
    @include propFuente(1.5rem, bold);
    background: $backgroudGradient;
    padding: 10px;
    border: $colorDetails;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    justify-content: space-between;
    .navbar-log {
      width: 68px;
    }
    .navbar-collapse {
      flex-grow: initial;
      font-family: $fontFamily;
      font-weight: bold;
      .nav-link {
        color: $colorDetails !important;
        margin: 0px 30px;
      }
      .nav-link:hover {
        color: white !important;
      }
    }
  }
  /* Index*/
    .banner {
      background-image: url(../Media/bannerfoto.png);
      background-size: cover;
      height: 50vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 90px;
      h1 {
        padding: 3px 20px 3px 20px;
        font-size: 3rem;
        font-family: $fontFamily;
        color: $colorLetra;
        margin-bottom: 30px;
        margin-left: 46%;
      }
      .parrafoIndex {
        font-family: $fontFamily;
        font-size: 1.5rem;
        color: $colorLetra;
        text-align: center;
        margin-left: 46%;
      }
    }
    .index__title {
    color: $colorLetra;
    font-family: $fontFamily;
    font-size: 40px;
    display: block;
    padding: 20px;
  }
  .main-container {
    background-color: #eee7e7;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    .main-title {
      @extend .index__title;
      padding-left: 50px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      p {
        @include propFuente(18px, 500);
        color: $colorLetra;
        font-family: $fontFamily;
        padding: 25px;
      }
    }
    .main-img {
      display: flex;
      justify-content: center;
      img {
        height: 70vh;
        padding: 10px;
        margin-top: 30px;
      }
    }
  }
  .btn {
    background-color: $colorDetails;
    margin-bottom: 20px;
  }
  .index__card--container {
    background-color: #eee7e7;
    display: flex;
    width: 100%;
    justify-content: space-around;
    
    .row {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      margin-bottom: 40px;
    }
    
    .cardIndex {
      justify-content: space-around;
      margin: 5px;
      a {
        text-decoration: none;
        color: $colorLetra;
      }
      .card-body {
      display: flex;
      flex-direction: column;
      color: $colorLetra;
      }
      .card-title {
        text-align: center;
      }
    }
  }
 
  /* Blog */
  .blog__main {
    .blog__section {
      display: flex;
      justify-content: space-around;
      background-color: rgb(231, 228, 228);
      .blog__section--title {
        text-align: center;
        h3 {
          color: $colorLetra;
          font-family: $fontFamily;
          text-transform: capitalize;
          padding: 25px;
        }
      }
      .imageContainer {
        display: flex;
        justify-content: space-around;
        .blog__section--image {
          width: 80%;
          height: 80vh;
        }
      }
      .paragraphContainer {
        display: flex;
        align-items: center;
        .blog__section--paragraph {
          @include propFuente(17px, normal);
          width: 80%;
          font-family: $fontFamily;
        }
      }
    }
  }
  /* Galería */
  .tituloGaleria {
    margin-top: 90px;
    @extend .index__title;
    color: $colorDetails;
    text-align: center;
    background: $backgroudGradient;
  }
  .carousel {
    .carousel-inner {
      .carousel-item {
        height: 80vh;
        .img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      } 
    }
    .carousel__text {
      background-color: rgba(90, 92, 94, 0.63);
      font-size: 20px;
      font-family: $fontFamily;
      color: $colorDetails;
    }
  }

  /* Tienda*/
  .card__container {
    background-color: #eee7e7;
  }
  .cardProducto {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    .card-body {
    display: flex;
    flex-direction: column;
    }
    .card-title {
      text-align: center;
    }

    .btn__card {
      background: $colorDetails;
      width: 100%;
      color: black;
      text-decoration: none;
      text-align: center;
      padding: 5px;
      border: 1px solid #ffffff66;
    }
  }

  /* Formulario */
  form {
    height: 90vh;
    margin-top: 80px;
    #btn__form {
      background-color: $colorDetails;
      width: 100%;
      margin-top: 5px;
    }
  }
}

/*footer*/

.footer {
  background: $backgroudGradient;
  padding: 10px;
  border: $colorDetails;
  border-style: solid;
  border-width: 3px;
  ul {
    display: flex;
    justify-content: center;
  }
  ul li {
    list-style: none;
    margin: 0px 20px;
    font-size: 30px;
  }
  ul li i {
    color: $colorDetails;
  }
  ul li i:hover {
    color: white;
  }
}

/*Media Queries*/
@media (max-width: 768px) {
  .contact-card {
    padding: 20px;
  }
  .cardIndex {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .contact-card {
    padding: 20px;
  }
  form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0 !important;
  }
  .paragraphContainer {
    display: flex;
    justify-content: center;
  }
  .banner {
    margin-top: 90px;
    h1 {
      padding: 0px;
      font-size: 2rem !important;
      font-weight: bold;
      color: #39393a !important;
      margin-left: 0% !important;
    }
    .parrafoIndex {
      background-color: white;
      color: #5d5e5f;
      text-align: center;
      margin: 0 !important;
      width: 100%;
    }
  }
  .cardIndex {
    display: flex;
    justify-content: center;
  }
}