* {
  margin: 0;
  padding: 0;
}
@mixin propFuente ( $fontSize , $fontWeight) {
  color: #868b8e;
  font-size: $fontSize;
  font-weight: $fontWeight;
}
$colorDetails: #e7d2cc;
$fontFamily: "Rajdhani", sans-serif;
body {
  background: radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898;
  .navbar-brand {
    @include propFuente (1.5rem , bolder);
    color: $colorDetails;
    font-family: $fontFamily;
    border: #ffffff66;
    & :hover {
      color: white;
    }
  }
  .menu {
    @include propFuente (1.5rem , bold);
    background: radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898;
    padding: 10px;
    border: $colorDetails;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    justify-content: space-between;
    ul {
      color: $colorDetails;
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      li {
        a {
          color: $colorDetails;
          text-decoration: none;
          margin: 0px 10px;
          &:hover {
            color: white;
          }
        }
      }
    }
    .navbar-collapse {
      flex-grow: unset !important;
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: $fontFamily;
      font-weight: bold;
      .nav-link {
        color: $colorDetails !important;
        margin: 0px 30px;
      }
    }
  }
  /* Index*/
  .index__title {
    color: rgba(165, 168, 112, 0.904);
    font-family: $fontFamily;
    font-size: 30px;
    text-transform: uppercase;
    display: block;
  }
  .main-container {
    margin-top: 78px;
    background-color: rgb(231, 228, 228);
    .main-title {
      @extend .index__title;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      p {
        @include propFuente(18px, 500);
        color: #868b8e;
        font-family: $fontFamily;
        padding: 25px;
      }
    }
    .main-img {
      display: flex;
      justify-content: center;
      img {
        height: 90vh;
      }
    }
  }
  .btn {
    background-color: $colorDetails;
    margin-bottom: 20px; 
  }
  /* Blog */
  main {
    margin-top: 75px;
    .blog__section {
      display: flex;
      justify-content: space-around;
      background-color: rgb(231, 228, 228);
      .blog__section--title {
        text-align: center;
        h2 {
          color: #868b8e;
          font-family: $fontFamily;
          text-transform: capitalize;
          padding: 25px;
        }
      }
      .imageContainer {
        display: flex;
        justify-content: space-around;
        .blog__section--image {
          width: 80%;
          height: 80vh;
        }
      }
      .paragraphContainer {
        display: flex;
        align-items: center;
        .blog__section--paragraph {
          width: 80%;
        }
      }
    }
  }
  /* Galería */
  .tituloGaleria {
    margin-top: 85px;
    @extend .index__title;
    color: $colorDetails;
    display: flex;
    justify-content: space-around;
    background: radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898;
    
  }
  .carousel {
    margin-top: 52px;
    .carousel-inner {
      height: 90vh;
    }
  }
  /* Tienda*/
  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card-title {
    text-align: center;
  }

  .btn__card {
    background: $colorDetails;
    width: 100%;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 1px solid #ffffff66;
  }

  /* Formulario */
  form {
    margin-top: 80px;
    .form__container {
      height: 90vh;
      #btn__form {
        background-color: $colorDetails;
        width: 100%;
        margin-top: 5px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .mainTienda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    row-gap: 10px;
    margin: 10px 10px 10px 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 576px) {
  .mainTienda {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin: 10px 10px 10px 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
